@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Game support system</h1>
	<p><a asp-controller="Chat" asp-action="Index">Chat with players</a></p>
</div>
